*.swatches
**/.mayaSwatches
.idea
**/published
*.mb
*.egg-info
dist
*.pyc
*.py~
cover
.coverage
docs/_*
build
cache
playground.py
*.sublime-*
__pycache__
.DS_Store
*.psd
**/vendor
venv
tests/clean_maya_app_dir
workspace.mel
mayaLog.txt